.px-1 {
  padding-inline: 0.25rem;
}

.py-1 {
  padding-block: 0.25rem;
}

.mx-1 {
  margin-inline: 0.25rem;
}

.my-1 {
  margin-block: 0.25rem;
}

.px-2 {
  padding-inline: 0.5rem;
}

.py-2 {
  padding-block: 0.5rem;
}

.mx-2 {
  margin-inline: 0.5rem;
}

.my-2 {
  margin-block: 0.5rem;
}

.px-3 {
  padding-inline: 0.75rem;
}

.py-3 {
  padding-block: 0.75rem;
}

.mx-3 {
  margin-inline: 0.75rem;
}

.my-3 {
  margin-block: 0.75rem;
}

.px-4 {
  padding-inline: 1rem;
}

.py-4 {
  padding-block: 1rem;
}

.mx-4 {
  margin-inline: 1rem;
}

.my-4 {
  margin-block: 1rem;
}

.px-5 {
  padding-inline: 1.5rem;
}

.py-5 {
  padding-block: 1.5rem;
}

.mx-5 {
  margin-inline: 1.5rem;
}

.my-5 {
  margin-block: 1.5rem;
}

.px-6 {
  padding-inline: 2rem;
}

.py-6 {
  padding-block: 2rem;
}

.mx-6 {
  margin-inline: 2rem;
}

.my-6 {
  margin-block: 2rem;
}

.px-7 {
  padding-inline: 2.5rem;
}

.py-7 {
  padding-block: 2.5rem;
}

.mx-7 {
  margin-inline: 2.5rem;
}

.my-7 {
  margin-block: 2.5rem;
}

.px-8 {
  padding-inline: 3rem;
}

.py-8 {
  padding-block: 3rem;
}

.mx-8 {
  margin-inline: 3rem;
}

.my-8 {
  margin-block: 3rem;
}

.b-radius-sm {
  border-radius: 0.5rem;
}

.b-radius-md {
  border-radius: 1rem;
}

.b-radius-lg {
  border-radius: 3rem;
}

.b-radius-circle {
  border-radius: 50%;
}

.font-sm {
  font-size: 0.8rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.25rem;
}

.grid2-1 {
  display: grid;
}
@media (min-width: 976px) {
  .grid2-1 {
    gap: 2rem;
    grid-template-columns: 3fr 1fr;
  }
}
@media (min-width: 1670px) {
  .grid2-1 {
    gap: 2rem;
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: 976px) {
  .grid2 {
    align-self: center;
  }
}

.grid1 {
  display: none;
}
@media (min-width: 976px) {
  .grid1 {
    display: block;
    align-self: center;
  }
}
@media (min-width: 1670px) {
  .grid1 {
    padding: 2rem;
  }
}

.grid-auto {
  width: min(100%, 1400px);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
}
@media screen and (width <= 320px) {
  .grid-auto {
    grid-template-columns: 100%;
  }
}

.flex-auto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-flow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin-block: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin-block: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin-block: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin-block: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin-block: 5rem;
}

/*
$d-light: #1c8e9d;
$d-color: #585a5a50;
$d-dark: rgba(47, 66, 70, 0.736);
$d-white: #70aab2;
$d-transparent: #11191a56;*/
.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
  scale: 1;
  transition: scale 0.3s linear;
}
.btn-secondary:hover, .btn-primary:hover {
  scale: 0.98;
}

.btn-primary {
  background-color: #418bff;
  color: #333;
}

.btn-secondary {
  background-color: #ff9f33;
  color: #fff;
}

header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 900;
  backdrop-filter: blur(20px);
}
header .logo a {
  font-size: 1.3rem;
}
header nav {
  width: min(100%, 1600px);
  padding-inline: 4%;
  margin-inline: auto;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}
header nav ul {
  display: none;
}
@media (min-width: 768px) {
  header nav ul {
    display: flex;
    gap: 2rem;
  }
}
header nav.open {
  width: min(100%, 1600px);
  padding-inline: 4%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
@media (min-width: 768px) {
  header nav.open {
    flex-direction: row;
    justify-content: space-between;
    height: 3.5rem;
  }
}
header nav.open ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  header nav.open ul {
    flex-direction: row;
  }
}
header nav.open li {
  scale: 1;
  transition: scale 0.3s ease-in-out;
}
header nav.open li:hover {
  scale: 0.94;
}
header .menu-toggle {
  cursor: pointer;
}
@media (min-width: 768px) {
  header .menu-toggle {
    display: none;
  }
}

header.sticky {
  background-color: rgba(239, 239, 239, 0.7254901961);
  background-color: var(--light);
  backdrop-filter: blur(10px);
}
header.sticky a, header.sticky i {
  color: var(--dark);
}

.hero {
  height: 100vh;
  background: url("images/img-new/Home/Mobile/PH2_5385.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
}
@media (min-width: 976px) {
  .hero {
    background: url("images/img-new/Home/Desktop/PH2_5398.jpg") no-repeat top center/cover;
  }
}
@media (min-width: 1670px) {
  .hero {
    background: url("images/img-new/Home/Desktop/PH2_5423.jpg") no-repeat top center/cover;
  }
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding-inline: 5%;
}
@media (min-width: 976px) {
  .social {
    align-items: flex-end;
  }
}
@media (min-width: 1670px) {
  .social {
    align-items: flex-start;
  }
}
.social > * i {
  translate: 0 0;
  scale: 1;
  transition: translate 0.3s ease-in-out, scale 0.3s ease-in-out;
}
.social > *:hover i {
  translate: 0 -0.2rem;
  scale: 1.1;
}

/*
.social {
    width: 20%;
}

.social a:nth-child(1) {
    animation: socialDelayed 2s;
    translate: -50px 0;
    scale: 0;
    animation-fill-mode: forwards;
}
.social a:nth-child(2) {
    animation: socialDelayed 2s;
    animation-delay: .2s;
    translate: -50px 0;
    scale: 0;
    animation-fill-mode: forwards;
}
.social a:nth-child(3) {
    animation: socialDelayed 2s;
    animation-delay: .4s;
    translate: -50px 0;
    scale: 0;
    animation-fill-mode: forwards;
}
.social a:nth-child(4) {
    animation: socialDelayed 2s;
    animation-delay: .6s;
    translate: -50px 0;
    scale: 0;
    animation-fill-mode: forwards;
}
.social a:nth-child(5) {
    animation: socialDelayed 2s;
    animation-delay: .8s;
    translate: -50px 0;
    scale: 0;
    animation-fill-mode: forwards;
}
.social a:nth-child(6) {
    animation: socialDelayed 2s;
    animation-delay: 1s;
    translate: -50px 0;
    scale: 0;
    animation-fill-mode: forwards;
}

.social a {
    color: #fff;
    z-index: 1;
    cursor: pointer;
    transition: color .5s ease-out;
} 

.social a:hover {
    color: #000;
    transition: color .5s ease-out;
}

.solo-link {
    color: #000;
}

.solo-link:hover {
    color: rgba(0, 0, 0, 0.355);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeinHomeBg {
    0% {
        opacity: 0;
        scale: .95;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}


@keyframes socialDelayed {
    0% {
        translate: -50px 0;
        scale: 0;
    }
    100% {
        translate: 0 0;
        scale: 1;
    }
}

@keyframes nav {
    0% {
        translate: 0 -100%;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes hover {
    0% {
        color: #fff;
        rotate: y 0deg;
        cursor: pointer
    }

    100% {
        color: #000;
        rotate: y 360deg;
        cursor: pointer
    }


}*/
.about {
  background-color: var(--white);
}
.about img {
  border-radius: 0.6rem;
}

.tab-titles {
  width: min(100%, 800px);
  margin-inline: auto;
  margin-block: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
}
@media (width > 460px) {
  .tab-titles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.tab-titles > * {
  justify-self: center;
  padding: 0.4rem;
  width: 80px;
  text-align: center;
  border-radius: 2rem;
  cursor: pointer;
}
@media (width > 460px) {
  .tab-titles > * {
    width: 130px;
  }
}
@media (width > 660px) {
  .tab-titles > * {
    width: 200px;
  }
}

.tab-links.active-link {
  background-color: var(--dark);
  color: var(--white);
}

.tab-links:not(.active-link) {
  border: 1px solid var(--dark);
}

.tab-contents:not(.active-tab) {
  display: none;
}

.download {
  margin-block: 2rem;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 976px) {
  .download {
    justify-content: flex-start;
  }
}
.download a {
  padding: 0.4rem 1.6rem;
  border-radius: 2rem;
  background-color: var(--dark);
  color: var(--white);
  cursor: pointer;
}

.music {
  background-color: var(--light);
}
.music img {
  border-radius: 0.6rem;
}
.music .text p {
  text-align: center;
  margin-top: 1rem;
}
.music .text a {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.music i {
  color: var(--dark);
}

.tab-music-titles {
  width: min(100%, 800px);
  margin-inline: auto;
  margin-block: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
}
@media (width > 460px) {
  .tab-music-titles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.tab-music-titles > * {
  justify-self: center;
  padding: 0.4rem;
  width: 80px;
  text-align: center;
  border-radius: 2rem;
  cursor: pointer;
}
@media (width > 460px) {
  .tab-music-titles > * {
    width: 130px;
  }
}
@media (width > 660px) {
  .tab-music-titles > * {
    width: 200px;
  }
}

.tab-music-links.active-link {
  background-color: var(--dark);
  color: var(--white);
}

.tab-music-links:not(.active-link) {
  border: 1px solid var(--dark);
}

.tab-music-contents:not(.active-tab) {
  display: none;
}

.flex-flow a:nth-of-type(1) {
  text-align: right;
  margin-top: 1rem;
}

.flex-flow a:nth-of-type(2) {
  margin-top: 1rem;
  text-align: left;
}

.timeline-area-cd {
  background: url("../..images/img/concerts/PH2_5488.jpg") no-repeat top/cover;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: relative;
}
.timeline-area-cd::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--filter);
  border-radius: 0.5rem;
  z-index: 1;
}
.timeline-area-cd .cd-item {
  width: min(100%, 266px);
  padding: 0.5rem;
  background: var(--frosted);
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 4px var(--frosted);
  backdrop-filter: blur(3px);
  scale: 1;
  z-index: 2;
  transition: scale 0.3s ease-in-out, background 0.3s ease-in-out;
}
.timeline-area-cd .cd-item .cd-item-body {
  text-align: center;
}
.timeline-area-cd .cd-item:hover {
  scale: 1.03;
  background-color: var(--frosted-hover);
  cursor: pointer;
}
.timeline-area-cd .cd-item:nth-of-type(3) .flex-auto {
  gap: 0.6rem;
}

.concerts {
  background-color: var(--white);
}

.timeline-area {
  background: url("images/img-new/photoGallery/13.jpg") no-repeat top/cover;
}

.timeline-area {
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.timeline-area div {
  background: var(--frosted);
  box-shadow: 1px 1px 4px var(--frosted);
  backdrop-filter: blur(3px);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--dark);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.timeline-area div:hover {
  scale: 1.03;
  background-color: var(--frosted-hover);
  color: #000;
  cursor: pointer;
}

.timeline-area div h5 {
  color: #000;
}

.timeline-area div p {
  color: rgb(0, 0, 0);
  margin: 0;
  padding-left: 20px;
  z-index: 2;
}

.img-div img {
  z-index: 100000;
}

.contact {
  background-color: var(--light);
}

.social-contact {
  width: min(90%, 400px);
  margin-inline: auto;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
@media (width < 300px) {
  .social-contact {
    margin-bottom: 3rem;
  }
}
.social-contact > * i {
  color: var(--dark);
  translate: 0 0;
  scale: 1;
  transition: translate 0.3s ease-in-out, scale 0.3s ease-in-out;
}
.social-contact > *:hover i {
  translate: 0 -0.2rem;
  scale: 1.1;
}

.carousel-wrapper {
  width: 100%;
  height: min(70vw, 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-top: 1.4rem;
}

.carousel-container {
  border-radius: 0.5rem;
  width: 400px;
  max-width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: 4000px;
  animation: sliding 50s infinite;
}
.carousel div {
  width: 400px;
  height: min(60vw, 300px);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.carousel:hover {
  animation-play-state: paused;
}
.carousel .image-1 {
  background-image: url("images/img-new/photoGallery/1.jpg");
  width: 400px;
}
.carousel .image-2 {
  background-image: url("images/img-new/photoGallery/2.jpg");
}
.carousel .image-3 {
  background-image: url("images/img-new/photoGallery/16.jpg");
}
.carousel .image-4 {
  background-image: url("images/img-new/photoGallery/14.jpg");
}
.carousel .image-5 {
  background-image: url("images/img-new/photoGallery/3.jpg");
}
.carousel .image-6 {
  background-image: url("images/img-new/photoGallery/8.jpg");
}
.carousel .image-7 {
  background-image: url("images/img-new/photoGallery/13.jpg");
}
.carousel .image-8 {
  background-image: url("images/img-new/photoGallery/12.jpg");
}
.carousel .image-9 {
  background-image: url("images/img-new/photoGallery/10.jpg");
}
.carousel .image-10 {
  background-image: url("images/img-new/photoGallery/4.jpg");
}

@keyframes sliding {
  0% {
    opacity: 0.7;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  13% {
    opacity: 0.7;
  }
  15% {
    transform: translateX(-400px);
    opacity: 1;
  }
  20% {
    transform: translateX(-400px);
  }
  23% {
    opacity: 0.7;
  }
  25% {
    transform: translateX(-800px);
    opacity: 1;
  }
  30% {
    transform: translateX(-800px);
  }
  33% {
    opacity: 0.7;
  }
  35% {
    transform: translateX(-1200px);
    opacity: 1;
  }
  40% {
    transform: translateX(-1200px);
  }
  43% {
    opacity: 0.7;
  }
  45% {
    transform: translateX(-1600px);
    opacity: 1;
  }
  50% {
    transform: translateX(-1600px);
  }
  53% {
    opacity: 0.7;
  }
  55% {
    transform: translateX(-2000px);
    opacity: 1;
  }
  60% {
    transform: translateX(-2000px);
  }
  63% {
    opacity: 0.7;
  }
  65% {
    transform: translateX(-2400px);
    opacity: 1;
  }
  70% {
    transform: translateX(-2400px);
  }
  73% {
    opacity: 0.7;
  }
  75% {
    transform: translateX(-2800px);
    opacity: 1;
  }
  80% {
    transform: translateX(-2800px);
  }
  83% {
    opacity: 0.7;
  }
  85% {
    transform: translateX(-3200px);
    opacity: 1;
  }
  90% {
    transform: translateX(-3200px);
  }
  93% {
    opacity: 0.7;
  }
  95% {
    transform: translateX(-3600px);
    opacity: 1;
  }
  98% {
    transform: translateX(-3600px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
footer {
  background-color: var(--light);
  text-align: center;
  padding-block: 1rem 3rem;
}
footer p {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.fa-brands {
  font-size: 1.7rem;
  color: #fff;
}

.fa-solid {
  font-size: 1.4rem;
  color: #fff;
  margin-top: 0.2rem;
}

iframe {
  display: block;
  border: none;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 4px var(--frosted);
}

h2 {
  text-align: center;
  padding-block: 1rem 2rem;
}

h3 {
  padding-block: 1.2rem;
}

h4 {
  padding-block: 0.8rem;
}

p {
  line-height: 1.4;
  text-align: justify;
}

img {
  max-width: 100%;
  display: block;
}

body {
  width: 100%;
  min-height: 100vh;
  --light: rgba(3, 32, 39, 0.0509803922);
  --color: rgba(89, 88, 90, 0.3137254902);
  --dark: #032027;
  --white: #fff;
  --filter: rgba(144, 143, 143, 0.4862745098);
  --frosted: rgba(255, 255, 255, 0.2745098039);
  --frosted-hover: rgba(170, 170, 170, 0.7019607843);
  --transparent: rgba(26, 24, 17, 0.337254902);
}

body.dark {
  --light: #2c3739;
  --color: #efefef;
  --dark: #efefef;
  --white: #6c7272;
  --filter: rgba(55, 53, 53, 0.4862745098);
  --frosted: rgba(108, 108, 108, 0.7843137255);
  --frosted-hover: rgba(141, 139, 139, 0.7019607843);
  --transparent: rgba(17, 25, 26, 0.337254902);
  color: #efefef;
}

section {
  padding-block: 4rem 2rem;
}

.css-container {
  width: min(92%, 1600px);
  margin-inline: auto;
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */