$light: #0320270d;
$color: #59585a50;
$dark: #032027;
$white: #fff;
$transparent: #1a181156;
$filter: #908f8f7c;
$frosted: #ffffff46;
$frosted-hover: #aaaaaab3;
/*
$d-light: #1c8e9d;
$d-color: #585a5a50;
$d-dark: rgba(47, 66, 70, 0.736);
$d-white: #70aab2;
$d-transparent: #11191a56;*/

$d-light: #2c3739;
$d-color: #efefef;
$d-dark: #efefef;
$d-white: #6c7272;
$d-filter: #3735357c;
$d-frosted: #6c6c6cc8;
$d-frosted-hover: #8d8b8bb3;
$d-transparent: #11191a56;

@mixin light {
    --light: #{$light};
    --color: #{$color};
    --dark: #{$dark};
    --white: #{$white};
    --filter: #{$filter};
    --frosted: #{$frosted};
    --frosted-hover: #{$frosted-hover};
    --transparent: #{$transparent};
}

@mixin dark {
    --light: #{$d-light};
    --color: #{$d-color};
    --dark: #{$d-dark};
    --white: #{$d-white};
    --filter: #{$d-filter};
    --frosted: #{$d-frosted};
    --frosted-hover: #{$d-frosted-hover};
    --transparent: #{$d-transparent};
    color: #efefef;
}
